{
  "presets": [
    "@babel/preset-stage-0", [
      "@babel/preset-env",
      {
        "modules": false,
        "useBuiltIns": "usage",
        "loose": true
      }
    ]
  ],
  "env": {
    "commonjs": {
      "presets": [
        "@babel/preset-stage-0", [
          "@babel/preset-env",
          {
            "targets": {
              "browsers": [
                "Android >= 4",
                "Chrome >= 35",
                "Firefox >= 31",
                "iOS >= 9",
                "Opera >= 12",
                "Safari >= 9",
                "IE >= 9"
              ]
            },
            "useBuiltIns": "usage"
          }
        ]
      ]
    },
    "es": {
      "presets": [
        "@babel/preset-stage-0", [
          "@babel/preset-env",
          {
            "modules": false,
            "useBuiltIns": "usage"
          }
        ]
      ]
    },
    "test": {
      "presets": [
        "@babel/preset-stage-0", [
          "@babel/preset-env", {
            "useBuiltIns": "usage",
            "loose": true
          }
        ]
      ]
    }
  },
  "plugins": [],
  "comments": false
}
